header
	section.header-top
		.container
			.nav-brand
				a(href="#")
					img(src="./img/logo.png", alt="")
			.wrap
				.wrap-left.nav-top-wrapper
					.nav-primary-top
						ul
							li
								a(href="javascript:;") Special offers  
							li
								a(href="javascript:;")  Gallery
							li
								a(href="javascript:;") news - events
				.wrap-right
					.search-wrapper
						.search-toggle.openBtn(onclick='openSearch()')
							em.mdi.mdi-magnify
						#myOverlay.overlay
							span.closebtn(onclick='closeSearch()' title='Close Overlay') ×
							.search-box
								input(type='text' placeholder='Tìm kiếm' name='search')
								button(type='submit')
									em.mdi.mdi-magnify
					.language-wrapper
						.current-language
							a(href="javascript:;")
								span English
								em.lnr.lnr-chevron-down
						ul.language-list
							li
								a(href="#")
									span Vietnamese
					.btn-wrap-reservation
						a.btn.btn-reservation
							span Reservation
			.main-menu-toggle
				.hamburger.hamburger--elastic
					.hamburger-box
						.hamburger-inner
	section.header-bottom
		.container
			.navbar-primary-menu
				ul
					li.drop-down
						.title
							a(href="javascript:;") Accommodation
							em.mdi.mdi-chevron-down
						ul.sub-nav
							li
								a(href="javascript:;")  Hill Rock Pool Villas
							li
								a(href="javascript:;") Lagoon Pool Villas
							li
								a(href="javascript:;") 02 Bedrooms Beach Front Pool Villas
							li
								a(href="javascript:;") Grand Lagoon Pool Villas
					li.drop-down
						.title
							a(href="javascript:;") wedding
							em.mdi.mdi-chevron-down
						ul.sub-nav
							li
								a(href="javascript:;")  Giới thiệu
							li
								a(href="javascript:;") Tại sao chọn chúng tơi
							li
								a(href="javascript:;") Cớ sở vật chất
					li.drop-down
						.title
							a(href="javascript:;")  Meeting & Event
							em.mdi.mdi-chevron-down
						ul.sub-nav
							li
								a(href="javascript:;")  Giới thiệu
							li
								a(href="javascript:;") Tại sao chọn chúng tơi
							li
								a(href="javascript:;") Cớ sở vật chất
					li.drop-down
						.title
							a(href="javascript:;") Wellness & Experience
							em.mdi.mdi-chevron-down
						ul.sub-nav
							li
								a(href="javascript:;")  Giới thiệu
							li
								a(href="javascript:;") Tại sao chọn chúng tơi
							li
								a(href="javascript:;") Cớ sở vật chất
					li.drop-down
						.title
							a(href="javascript:;") Restaurant & Cuisines
							em.mdi.mdi-chevron-down
						ul.sub-nav
							li
								a(href="javascript:;")  Giới thiệu
							li
								a(href="javascript:;") Tại sao chọn chúng tơi
							li
								a(href="javascript:;") Cớ sở vật chất
					li.drop-down
						.title
							a(href="javascript:;") contact us
	.mobile-wrapper