header
	section.header-top
		.container
			.nav-brand
				a(href="#")
					img(src="./img/logo.png", alt="")
			.wrap
				.wrap-left.nav-top-wrapper
					.nav-primary-top
						ul
							li
								a(href="javascript:;") Special offers  
							li
								a(href="javascript:;")  Gallery
							li
								a(href="javascript:;") news - events
				.wrap-right
					.search-wrapper
						.search-toggle
							em.mdi.mdi-magnify
						.searchbox
							input(type="text",placeholder='Search')
							button
								em.mdi.mdi-magnify
					.language-wrapper
						.current-language
							a(href="javascript:;")
								span English
								em.lnr.lnr-chevron-down
						ul.language-list
							li
								a(href="#")
									span Vietnamese
					.btn-wrap-reservation
						a.btn.btn-reservation
							span Reservation
			.main-menu-toggle
				.hamburger.hamburger--elastic
					.hamburger-box
						.hamburger-inner
	section.header-bottom
		.container
			.navbar-primary-menu
				ul
					li.drop-down
						a(href="javascript:;") Accommodation
						ul.sub-nav
							li
								a(href="javascript:;")  Giới thiệu
							li
								a(href="javascript:;") Tại sao chọn chúng tơi
							li
								a(href="javascript:;") Cớ sở vật chất
					li.dropdown
						a(href="javascript:;") wedding
					li.dropdown
						a(href="javascript:;") Meeting & Event
					li.dropdown
						a(href="javascript:;") Wellness & Experience
					li.dropdown
						a(href="javascript:;") Restaurant & Cuisines
					li.dropdown
						a(href="javascript:;") contact us
	.mobile-wrapper